body {
  background-color: #fdfdfd;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.App {
  max-width: 1200px;
}

#nonfooter {
  min-height: 100vh;
}

.form-container {
  max-width: 380px;
  margin: 0 auto;
}

.scroll {
  margin: 0 auto;
  position: relative;
  max-width: 380px;
}

#reader-header {
  margin: 0 auto;
  max-width: 380px;
  /* display: flex; */
}

#reader-header > h1 {
  margin-bottom: 0;
}

.toolbar {

}


.toolbar-btn {
  padding: 0;
  margin: auto 0;
}

#reader-body {
  white-space: pre-wrap;
  max-width: 380px;
  position: relative;
  margin: 0 auto;
}

#dictionary-container {
  font-size: smaller;
}

#hexapla {
  margin: 0 auto;
  padding: 0 !important;
  max-width: 380px;

}

.faded {
  opacity: 50%;
}

.infobox {
  padding: 12px;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
}

.highlighted {
  background: #d3d3d3;
}

.action-heading {
  display: flex;
  justify-content: space-between;
}

.line {
  text-align: justify;
  hyphens: auto;
}

.word-btn {
  width: fit-content;
  height: fit-content;
  padding: 0;
  display: contents;
}

.word-span {
  word-break: keep-all;
}

.nav-btn {
  height: 40px;
}

@media (min-width: 640px) {

}

@media (min-width: 768px) {
  .toolbar {
    margin: 0;
  }

  #reader-container {
    max-width: 768px;
    margin: 0 auto;
  }

  #reader-header {
    margin: 0;
  }

  #reader-body {
    margin: 0;
  }

  .scroll {
    margin: 0;
  }

  .word-span {
    position: relative;
  }

  .infobox {
    position: absolute;
    width: 380px;
    margin: 0 12px;
    border: 1px rgba(239, 239, 240, 0.5) solid;
  }

  .parallel-scroll {

  }
}

@media (min-width: 1024px) {
  .App {
    margin: auto;
  }
  #reader-container {
    min-width: 768px;
  }
}

@media (min-width: 1200px) {

}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}