body {
  background-color: #fdfdfd;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.App {
  max-width: 1200px;
}

#nonfooter {
  min-height: 100vh;
}

.scroll {
  position: relative;
}

.scroll, #reader-header, #hexapla, #reader-body, .form-container, .form-container > form, .inner-container{
  margin: 0 auto;
  max-width: 380px;
}

#reader-header > h1 {
  margin-bottom: 0;
}

.toolbar {
  display: flex;
}

.toolbar-btn {
  padding: 0;
  margin: auto 0;
}

#reader-body {
  white-space: pre-wrap;
  position: relative;
}

#dictionary-container {
  font-size: smaller;
}

.faded {
  opacity: 50%;
}

.infobox {
  padding: 12px;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fdfdfd;
}

.highlighted {
  background: #d3d3d3;
}

.action-heading {
  display: flex;
  justify-content: space-between;
}

.line {
  text-align: justify;
  hyphens: auto;
}

/* .word-btn {
  width: fit-content;
  height: fit-content;
  padding: 0;
  display: contents;
} */

.word-span {
  /* word-break: keep-all; */
  cursor: pointer;
}

.scroll-preview-container {
  padding: 12px;
  border: 1px rgba(239, 239, 240, 1) solid;
}

.scroll-preview {
  font-size: smaller;
}

.nav-btn {
  height: 40px;
}

@media (min-width: 640px) {

}

@media (min-width: 768px) {
  #reader-container, .form-container, .outer-container {
    max-width: 768px;
    margin: 0 auto;
  }

  #reader-header {
    max-width: 768px;
  }

  #reader-body, .scroll, .toolbar, .form-container > form, .inner-container  {
    margin: 0;
  }

  .word-span {
    position: relative;
  }

  .infobox {
    position: absolute;
    width: 380px;
    margin: 0 12px;
    border: 1px rgba(239, 239, 240, 0.5) solid;
  }
}

@media (min-width: 1024px) {
  .App {
    margin: auto;
  }
}

@media (min-width: 1200px) {

}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}