body, .App {
  background-color: #fdfdfd;
  /* background-color: purple; */
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#reader-body {
  white-space: pre-wrap;
}

#nonfooter {
  min-height: 100vh;
}
.word-btn {
  width: fit-content;
  height: fit-content;
  padding: 0;
}

.scroll {
  max-width: 380px;
  
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.nav-btn {
  height: 40px;
}

@media (min-width: 640px) {
           
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
  .App {
    /* max-width: 760px; */
    margin: auto;
  }
  #reader-container {
    max-width: 780px;
    margin: 0 auto;
  }

  .scroll {
    
  }
}

@media (min-width: 1200px) {
        
}